name: Renovate
on:
  schedule:
    # Offset by 12 minutes to avoid busy times on the hour
    - cron: 12 */4 * * *

  pull_request:
    paths:
      - .github/renovate-config.json5
      - .github/workflows/renovate.yml

  push:
    branches:
      - main
    paths:
      - .github/renovate-config.json5
      - .github/workflows/renovate.yml

  workflow_dispatch:
    inputs:
      dry-run:
        description: "Run Renovate in dry-run mode"
        required: false
        default: false
        type: boolean

      debug:
        description: "Run Renovate in debug mode"
        required: false
        default: false
        type: boolean

jobs:
  renovate:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          sparse-checkout: .github/renovate-config.json5

      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.LANEYBOT_APP_ID }}
          private-key: ${{ secrets.LANEYBOT_PRIVATE_KEY }}

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@fc0e62a8df512bfba579d7c87f37c043c4274874 # v44.0.1
        with:
          configurationFile: .github/renovate-config.json5
          # renovate: datasource=docker depName=ghcr.io/renovatebot/renovate
          renovate-version: 41.173.1@sha256:e998e1218fe572e23278d8808186a310784f7cb2ac8055307183ffc51d3a59e5
          token: ${{ steps.generate-token.outputs.token }}
        env:
          LOG_LEVEL:
            ${{ ((github.event_name == 'workflow_dispatch' && inputs.debug) ||
            (github.event_name == 'pull_request')) && 'debug' || 'info' }}
          # For pull requests, this means we'll get the dependencies of the PR's
          # branch, so you can fix/change things and see the results in the PR's
          # run. By default, Renovate will clone the main/default branch.
          RENOVATE_BASE_BRANCHES:
            ${{ github.event_name == 'pull_request' &&
            github.event.pull_request.head.ref || null }}
          # Dry run if the event is pull_request, or workflow_dispatch AND the dry-run input is true
          RENOVATE_DRY_RUN:
            ${{ (github.event_name == 'pull_request' || (github.event_name ==
            'workflow_dispatch' && github.event.inputs.dry-run == 'true')) &&
            'full' || null }}
          RENOVATE_PLATFORM: github
          RENOVATE_REPOSITORIES: ${{ github.repository }}
